@model ProjectC.Models.Audience

@{
    ViewBag.Title = "Opgesteld";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .open > .dropdown-menu {
        display: block
    }



    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    a {
        color: black;
        text-decoration: none;
        background-color: transparent;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

        a:link {
            color: black;
        }
</style>

<table class="table">
    <tr>

        <!--<th>ID (test)</th>-->
        <th>Email Titel</th>
        <th>Aantal Ontvangers</th>
        <th>Publiek</th>
        <th>Geopend</th>
        <th>Datum Aangemaakt</th>
        <th class="table-buttons">
            <div class="dropdown">
                <button class="btn dropdown-toggle" id="table-dropdown" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kies Publiek
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var list in ViewBag.Lists)
                    {
                        <li>
                            <a class="dropdown-item" href="~/Campaings/Drafts/@list.Id">@list.Name 
                        </li>
                    }
                    <li>
                        <a class="dropdown-item" href="~/Campaings/Drafts/">Verwijder Filter</a>
                    </li>
                </ul>
            </div>
        </th>
        <th class="table-buttons">
            <a href="~/Campaings/Sent" class="btn" id="table-dropdown">E-mails Verstuurd</a>
        </th>
    </tr>

    @foreach (var campaign in Model.CampaignList.OrderBy(camp => camp.DateCreated))
    {
        <tr>

    <!--<td>@campaign.Id</td>-->
            <td>@campaign.CampaignName</td>
            <td>@campaign.EmailsSent</td>
            <td><a href="~/ContactPerson/Index/@campaign.ListId">@campaign.ListName</a></td>
            <td>@campaign.OpenRate </td>
            <td>@campaign.DateCreated</td>
            <td class="table-buttons"><a href="@campaign.URL" target="_blank" class="btn"> Inzien</a></td>
            <td class="table-buttons"> <a class="btn" href="~/Campaings/Send/@campaign.Id">Versturen</a></td>
        </tr>
    }

</table>






@*<script>
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();
        });
    </script>*@
