@model ProjectC.Models.Audience

@{
    ViewBag.Title = "Saved";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .open > .dropdown-menu {
        display: block
    }



    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    a {
        color: black;
        text-decoration: none;
        background-color: transparent;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

        a:link {
            color: black;
        }

</style>

<table class="table">
    <tr>
        <th>
            <div class="dropdown">
                <button class="btn" type="button" data-toggle="dropdown">
                    kies lijst
                </button>
                <div class="dropdown-content">
                    @foreach (var list in ViewBag.Lists)
                    {
                        <a class="dropdown-item" href="~/Campaings/Drafts/@list.Id">@list.Name</a>
                    }
                    <a class="dropdown-item" href="~/Campaings/Drafts/">delete filter</a>
                </div>
            </div>
        <th>ID (test)</th>
        <th>naam campaign</th>
        <th>aantal ontvangers</th>
        <th>ontvangers</th>
        <th>geopend</th>
        <th>datum aangemaakt</th>
        <th>versturen</th>
    </tr>

    @foreach (var campaign in Model.CampaignList.OrderBy(camp => camp.DateCreated))
    {
<tr>
    <td><a href="@campaign.URL" target="_blank" class="btn"> inzien</a></td>
    <td>@campaign.Id</td>
    <td>@campaign.CampaignName</td>
    <td>@campaign.EmailsSent</td>
    <td><a href="~/ContactPerson/Index/@campaign.ListId">@campaign.ListName</a></td>
    <td>@campaign.OpenRate </td>
    <td>@campaign.DateCreated</td>
    <td> <a class="btn" href="~/Campaings/Send/@campaign.Id">versturen</a></td>
</tr>
    }

</table>

<p>
    <a href="~/Campaings/Sent" class="btn"> E-mails sent</a>
</p>





@*<script>
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();
        });
    </script>*@
