@model IEnumerable<MailChimp.Net.Models.Campaign>

@{
    ViewBag.Title = "Saved";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>    
    .open > .dropdown-menu {
        display: block
    }
</style>


<table class="table">
    <tr>
        <th>
            <div class="dropdown">
                <button class="btn" type="button" data-toggle="dropdown">
                    kies lijst
                </button>
                <div class="dropdown-menu">
                    @foreach (var list in ViewBag.Teachers)
                    {
                        <a class="dropdown-item" @Html.ActionLink($"{list.Id}", "Sent", "Campaings", new { id = list.Id }, null)></a>
                    }
                </div>
            </div>
        <th>ID</th>
        <th>Title</th>
        <th>Aantal ontvangers</th>
        <th>createtime</th>
        <th>versturen</th>
    </tr>

    @foreach (var campaign in Model)
    {
        <tr>
            <td><a href="@campaign.ArchiveUrl" target="_blank" class="btn"> inzien</a></td>
            <td>@campaign.Id</td>
            <td>@campaign.Settings.Title</td>
            <td>@campaign.EmailsSent</td>
            <td> @campaign.CreateTime</td>
            <td> <a class="btn" @Html.ActionLink("Versturen", "Send", "Campaings", new { id = campaign.Id }, null)></a></td>
        </tr>
    }

</table>

<p>
    <a href="~/Campaings/Drafts" class="btn"> Drafts</a>
</p>





<script>
    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
    });
</script>
