@model ProjectC.Models.klant

@*@{
        ViewBag.Title = "Edit";
    }

    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>klant</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Firstname)

            <div class="form-group">
                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Bedrijfsnaam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Bedrijfsnaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bedrijfsnaam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@





@{ ViewBag.Title = "Klant: " + @Html.DisplayNameFor(model => model.bedrijfsnaam);
    Layout = "~/Views/Shared/_Layout.cshtml"; }




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.bedrijfsid)
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div id="ui">
                    <form class="form-group">

                        <div class="row cp-holder justify-content-center">
                            <h5 class="klant-name">Bedrijfs Informatie</h5>
                            <div class="col-lg-6">
                                <label>Bedrijfsnaam</label>
                                @Html.EditorFor(model => model.bedrijfsnaam, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bedrijfsnaam, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                <label>Bedrijfsemail</label>
                                @Html.EditorFor(model => model.bedrijfsemail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bedrijfsemail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*middelste row*@
                        @*middelste row*@
                        <div class="row cp-holder">
                            <div class="col-lg-6">
                                <label>Bedrijfsnummer</label>
                                @Html.EditorFor(model => model.bedrijfsnummer, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.bedrijfsnummer, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        @*onderste row*@
                        <div class="row purgatory">
                            <div class="col-3 cancel-button">
                                <a href="/klant" class="btn btn-default">Terug</a>
                            </div>
                            <div class="col-3 submit-button">
                                <input type="submit" value="Opslaan" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>}
</body>


<style>
    #ui {
        margin-top: 90px;
    }

    input[type=text] {
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #f8f8f8;
        left: 500px;
        top: 80px;
        resize: none;
    }
</style>
