@model ProjectC.Models.ContactPerson

@{ ViewBag.Title = "Contactpersoon toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div id="ui">
                    <form class="form-group">

                        @*boveenste row*@
                        <div class="row">
                            <div class="col-lg-6">
                                <h5>Persoonlijke informatie: </h5>
                                <label>Voornaam:</label>
                                @Html.EditorFor(model => model.voornaam, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.voornaam, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-lg-6">
                                <h5>bedrijfsinformatie: </h5>
                                <label>Email:</label>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*middelste row*@
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Tussenvoegsel:</label>
                                @Html.EditorFor(model => model.tussenvoegsel, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tussenvoegsel, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                <label>Labels:</label>
                                <input type="text" name="username" class="form-control">
                            </div>
                        </div>


                        @*onderste row*@
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Achternaam:</label>
                                @Html.EditorFor(model => model.achternaam, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.achternaam, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                <label>Bedrijven:</label>
                                <input type="text" name="username" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}



<style>
    #ui {
        margin-top: 90px;
    }

    input[type=text] {
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #f8f8f8;
        left: 500px;
        top: 80px;
        resize: none;
    }
</style>
