@model ProjectC.Models.ContactpersoonViewModel

@{ ViewBag.Title = "Contactpersoon toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row justify-content-center">
            <div id="ui">
                <form class="form-group">

                    @*boveenste row*@
                    <div class="row cp-holder justify-content-center">
                        <h5 class="form-name">Persoonlijke informatie: </h5>
                        <div class="col-lg-4">
                            <label>Voornaam:</label>
                            @Html.EditorFor(model => model.persoon.voornaam, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.persoon.voornaam, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2">
                            <label>Tussenvoegsel(s):</label>
                            @Html.EditorFor(model => model.persoon.tussenvoegsel, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.persoon.tussenvoegsel, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4">
                            <label>Achternaam:</label>
                            @Html.EditorFor(model => model.persoon.achternaam, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.persoon.achternaam, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @*middelste row*@
                    <div class="row cp-holder justify-content-center">
                        <h5 class="form-name">Bedrijfsinformatie: </h5>
                        <div class="col-lg-4">
                            <label>Email:</label>
                            @Html.EditorFor(model => model.persoon.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.persoon.email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-4">
                            <label class="lbl-create">Bedrijf:</label>

                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="labeldrop" type="button" data-bs-toggle="dropdown">
                                    Kies Bedrijf
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="labeldrop">
                                    @foreach (var bedrf in Model.klanten)
                                    {
                                        <li>
                                            <a class="dropdown-item">@bedrf.bedrijfsnaam</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-4">
                            <label>Labels:</label>

                            <div class="dropdown">
                                <button class="btn dropdown-toggle" id="labeldrop" type="button" data-bs-toggle="dropdown">
                                    Kies Label
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="labeldrop">
                                    @foreach(var lbl in Model.labels)
                                    {
                                        <li>
                                            <a class="dropdown-item">@lbl.labelname</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                    @*onderste row*@
                    <div class="row purgatory">
                        <div class="col-3 cancel-button">
                            <a href="/contactperson" class="btn btn-default">Terug</a>
                        </div>
                        <div class="col-3 submit-button">
                            <input type="submit" value="Opslaan" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}



<style>
    #ui {
        margin-top: 90px;
    }

    input[type=text] {
        margin: 8px 0;
        box-sizing: border-box;
        background-color: #f8f8f8;
        left: 500px;
        top: 80px;
        resize: none;
    }
</style>
