



@*@{ ViewBag.Title = "Contactpersonen";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<style>
    .open > .dropdown-menu {
        display: block
    }



    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            /* Change color of dropdown links on hover */
            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

<table class="table">
    <tr>
        <th>
            Voornaam
        </th>
        <th>
            Tussenvoegsel(s)
        </th>
        <th>
            Achternaam
        </th>
        <th>
            Email
        </th>
        <th>
            Bedrijfsnaam
        </th>
        <th>Labels</th>
        <th class="table-buttons">
            <div class="dropdown">
                <button class="btn dropdown-toggle" id="table-dropdown" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kies Lijst
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var list in ViewBag.Lists)
                    {
                        <li>
                            @Html.ActionLink($"{list.Name}", "Index", "ContactPerson", new { id = list.Id }, new { @class = "dropdown-item" })
                        </li>
                    }
                    <li>
                        <a class="dropdown-item" href="/ContactPerson">Verwijder Filter</a>
                    </li>
                </ul>
            </div>
        </th>
        <th class="table-buttons">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" id="table-dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Anders
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a href="~/contactperson/create" class="dropdown-item">Contactpersoon Toevoegen</a>
                    </li>
                    <li>
                        <a href="~/label/index" class="dropdown-item">Labels</a>
                    </li>
                    <li>
                        <a href="~/klant/index" class="dropdown-item">Klanten</a>
                    </li>
                </ul>
            </div>
        </th>
    </tr>

    @foreach (var item in Model.people)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tussenvoegsel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.achternaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                </td>
                <td>
                    @foreach(var label in Model.kenmerken)
                    {
                        if(label.contactpersoonid == item.contactpersoonid)
                        {
                            foreach(var name in Model.labels)
                            {
                                if(name.labelid == label.labelid)
                                {
                                    <span>name.labelname</span>
                                }
                            }
                        }
                    }
                </td>
                <td class="table-buttons">
                    <a href="~/Contactperson/Edit/@item.contactpersoonid.ToString()" class="btn">Inzien</a>
                </td>
                <td class="table-buttons">

                        <button type="button" onclick="ConfirmDelete()" data-id="@item.contactpersoonid" data-toggle="myModal" class="btn">Verwijderen</button>


                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content form-holder">
                                    <div class="modal-header label-name">
                                        <h2 class="label-name">Contactpersoon Verwijderen</h2>
                                    </div>
                                    <div class="modal-body label-name">
                                        <h4 class="label-name">Bent u zeker dat u deze Contactpersoon wilt verwijderen?</h4>

                                    </div>
                                    <div class="modal-footer">
                                        <a href="/contactperson" class="btn btn-default" data-dismiss="modal">Terug</a>

                                        <input type="submit" value="Verwijderen" class="btn" data-dismiss="modal" />

                                    </div>

                                </div>

                            </div>

                        </div>

                </td>
            </tr>
        }
</table>

@section scripts{
    <script>

        var ConfirmDelete = function (id) {
            $("#myModal").modal('show');
        }
    </script>
}*@
